<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="x-rim-auto-match" content="none">
  <link id='ic' rel="shortcut icon" href="https://cdnm3.17shanyuan.com/static/images/common/about1.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="./clsty.css">
  <link rel="stylesheet" type="text/css" href="./miniIndex.css">
  <script src="https://cdnm3.17shanyuan.com/static/js/dll/scr_adapt.js"></script>
	<title>公益中国</title>
</head>
<body class="min-index">
	<div id="miniprogram">
  <!--后台预览小程序首页-->
    <div class="headtitle">
      <div class="title">公益中国</div>
      <div class="rightcon">
        <div class="dotcon"><span class="dot"></span></div>
        <div class="line"></div>
        <div class="circlecon"><span class="circleout"></span></div>
      </div>
    </div>
   <div class="indexhead">
     <div class="headitem itemleft"><span class="searchicon"></span><span class="searchtxt">{{hotWord.con}}</span></div>
     <div class="headitem itemcenter"></div>
     <div class="headitem itemright"></div>
   </div>
    <!--首焦 start info.focusList-->
    <div class="indexbest swiper-container" v-if="info.focusList">
      <div id="swiper" class="bestcontent swiper-wrapper">
        <div class="bestcontentitem swiper-slide" v-for="(item, index) in info.focusList" :key="item.id">
          <img class="itemimg" :src="item.image" alt="">
          <div class="minitips">{{item.tag}}</div>
          <div class="descrcontent">
            <div class="descrcontenttxt" style="display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;">{{item.title}}</div>
          </div>
        </div>
      </div>
      <!-- <div class="swiper-pagination" slot="pagination"></div> -->
    </div>
    <!--快报列表-->
    <div class="minibulletin">
      <div class="bulletinitem bulletinleft"><span class="left-bar"></span><img class="bulletinlogo" src="image/news.png" alt=""></div>
      <div class="bulletinitem bulletincenter">
        <ul v-if="info.newsList" :class="{'scrollcontent':animation}" :style="{top}">
          <li class="news"  v-for="(list, index) in info.newsList"  :key="index">{{list.content ? list.content : '列表内容'}}</li>
        </ul>
        <div v-else class="listcon">
          <div class="list">我公司获得“2018中国优秀企业公民”称号</div>
        </div>
      </div>
      <div class="bulletinitem bulletinright">更多</div>
    </div>
    <!--自定义运营位-->
    <div class="diyoperation">
      <h1 class="largetitle">
        <span class="titleleft">{{info.topic.name}}</span>
        <span class="titleright">{{info.topic.moreName}}</span>
      </h1>
      <div class="operation">
        <div class="operationleft">
          <img class="operationimg" :src="topicItem1.image" alt="">
          <span class="specialtag">{{topicItem1.tag}}</span>
        </div>
        <div class="operationright">
          <div class="operationright-top">
            <div class="r-top">
              <img class="operationimg" :src="topicItem2.image" alt="">
              <span class="specialtag">{{topicItem2.tag}}</span>
            </div>
            <div class="l-top">
              <img class="operationimg" :src="topicItem3.image" alt="">
              <span class="specialtag">{{topicItem3.tag}}</span>
            </div>
          </div>
          <div class="operationright-bot">
            <img class="operationimg" :src="topicItem4.image" alt="">
              <span class="specialtag">{{topicItem4.tag}}</span>
          </div>
        </div>
      </div>
    </div>
    <!--单品推荐-->
    <div class="recommend" v-if="info.qualityGoods">
      <h1 class="largetitle">
        <span class="titleleft">{{info.qualityGoods.name}}</span>
        <span class="titleright">{{info.qualityGoods.moreName}}</span>
      </h1>
      <div class="recommendlist">
        <div class="recommenditem" v-for="(pro, index) in info.qualityGoods.goodsList">
          <div class="recommendtopimg"><img :src="pro.goodsImage" alt="products"></div>
          <h4 class="recommendtoptitle" style="display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;">{{pro.goodsName}}</h4>
          <div class="place" v-if="(JSON.stringify(pro.areaMap) !== '{}') && pro.areaMap">
            <p>
              <span class="placeleft">贫困县</span>
              <span class="placelogo"></span>
              <span class="placeright" v-for="(value, key) in pro.areaMap" :key="key.id">{{value.areaName}}·</span>
            </p>
          </div>
          <p class="price">￥<span class="p-large">{{pro.goodsPrice | getInt}}</span>{{pro.goodsPrice | getDecimal}}</p>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script> -->
<script type="text/javascript" src="./js/vue.js"></script>
<script type="text/javascript" src="./js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="./js/vue-resource-v151.min.js"></script>
<script type="text/javascript" src="./js/swiperV3.min.js"></script>
<script type="text/javascript">
	var miniprogram = new Vue({
		el:'#miniprogram',
		data:{
          hotWord:{},
	        scrollIndex:0,
	        animation:false,
          timeLag:3000,
	        h:0.8,
	        px:'rem',
          OffTimer:false,
          originTest:'https://apit.17shanyuan.com/1.0',
          originPre:'https://pre-api.17shanyuan.com',
          originPro:'https://api.17shanyuan.com',
          topicItem1:{},
          topicItem2:{},
          topicItem3:{},
          topicItem4:{},
	        info: {
	          unionId: "",
	          unionCode: "",
	          unionName: "",
	          focusList:[],
	          newsList: [],
	          topic:  {
	            
	          },
	          qualityGoods: {//优品
	            name: "",
	            moreName: "",
	            moreLink : "",
	            countyList: [],
	            goodsList: []
	          },
	          areaMapArr:[],//地址对象
        },
      },
		filters:{
	      getInt:function ( value ){//取整数部分
		       return isNaN(parseInt(value)) ? "" : parseInt(value);
		    },
		    getDecimal:function(value){//取小数
		       var str = value.toString().split('.');
		       return '.' + str[1];
		    }
    	},
    computed:{
      top() {//向上滚动"一条内容"的高度
        return -this.scrollIndex * this.h + this.px;
      },
    },
		created:function(){
    },
		mounted:function(){
      var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        observer:true, //修改swiper自己或子元素时，自动初始化swiper
        observeParents:true,//修改swiper的父元素时，自动初始化swiper
        loop: true, // 循环模式选项
        autoplay: 2000
    });
      console.log(this.$el)
      this.getHotWord();
      this.getMiniIndexData();
      var that = this;
      setTimeout(function(){
        that.rollingFn();
      },500)
    },
		methods: {
		    getHotWord:function(){
          this.$http.get(this.originTest+'/ebgoods/hot-word/list/user').then(function(res){
            if(res.body.code == 200){
              this.hotWord = res.body.data.default;
            }else{
              console.log(res.body.message);
            }
          })       
        },
        getMiniIndexData(){//获取首页可配置数据
        var indexUrl = this.originTest + '/layout-center/layoutOpen/miniIndex';
        this.$http.post(indexUrl,{unionCode:'miniProgramIndex',viewType:'preview'}).then(function(res){
          // console.log("post: ",res.body.content)
          if(res.body.code == 200){
            this.info = res.body.content;
            this.topicItem1 = res.body.content.topic.content[0];
            this.topicItem2 = res.body.content.topic.content[1];
            this.topicItem3 = res.body.content.topic.content[2];
            this.topicItem4 = res.body.content.topic.content[3];

          }else{
            console.log(res.body.message);
          }
        });
      },
      rollingFn:function(){
        var timer1,timer2;
        // console.log('list: ',this.info.newsList)
        var _that = this;
        if(_that.info.newsList){
          _that.$nextTick(function(){
          _that.info.newsList.push(_that.info.newsList[0]);//首尾相连，解决滚动列表瞬间回滚到底部
          var scroll = function(){
            if(_that.scrollIndex < _that.info.newsList.length){
              _that.animation = true;
              _that.scrollIndex++;
              if(_that.scrollIndex === _that.info.newsList.length){
                _that.animation = false;
                _that.scrollIndex = 0;
                clearInterval(timer1);
                clearTimeout(timer2);
                timer2 = setTimeout(function(){
                  scroll();
                },50);//解决滚动列表瞬间回滚到底部
                
                timer1 = setInterval(scroll,_that.timeLag);//重新启动定时器滚动列表
              };//列表内容滚动到底部
            }
          };
          timer1 = setInterval(scroll,_that.timeLag);
        })
        }
        
      },
  	}
	})
</script>
</html>